<div class="card mb-3" style="max-width: 540px">
    <link rel="stylesheet" href="palabra-container.component.css" />
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../../../assets/img/kisspng-letter-english-alphabet-child-wallpaper-alphabet-5ab900a58693c5.7033036215220737655512.png" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Palabra</h5>
        <p class="card-text">
     
            <h5 class="card-title">Pista</h5>
            <p class="card-text">

        </p>
        <p class="card-text">
           <button type="submit">Borrar</button>
        </p>
      </div>
    </div>
  </div>
</div>
