<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ordenar Palabra</title>
    <link rel="stylesheet" href="ordena-palabra-page.component.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form action="" method="POST" id="form">
      <div class="form">
        <h1>Ordenar Palabra</h1>
        <div class="grupo">
          <input type="text" name="" id="palabra" required /><span
            class="barra"
          ></span>
          <label for="">Palabra</label>
        </div>
        <div class="grupo">
          <input type="text" name="" id="pista" required /><span
            class="barra"
          ></span>
          <label for="">Pista</label>
        </div>

        <button type="submit">Ingresar Palabra</button>
      </div>
    </form>
    <!-- Estapacio entre el container de ordenar palabra y palabra container --> 
    &nbsp;
    &nbsp;
    &nbsp;
    <!---Agrego componente de palabra container -->
    <app-palabra-container></app-palabra-container>
  </body>
</html>
