<div class="general-container">
  <div class="body">
    <form [formGroup]="formIngresarPalabra" (submit)="guardarPalabra()" class="form2" id="form">
      <div class="form">
        <h1>Crear Palabra</h1>
        <div class="grupo">
          <input class="input" type="text" name="" id="palabra" formControlName="nombreJuego" /><span
            class="barra"></span>
          <label class="label" for="">Nombre del juego</label>
        </div>
        <div class="grupo">
          <input class="input" type="text" name="" id="palabra" formControlName="palabra" /><span class="barra"></span>
          <label class="label" for="">Palabra</label>
        </div>
        <div class="grupo">
          <input class="input" type="text" name="" id="pista" formControlName="pista" /><span class="barra"></span>
          <label for="" class="label">Pista</label>
        </div>

        <button [disabled]="formIngresarPalabra.invalid">Ingresar Palabra</button>
        <button (click)="crearJuegoOrdenaPalabra()" type="button">Crear juego</button>
      </div>
    </form>
  </div>

  <!---Agrego componente de palabra container -->
  <div class="palabras-container">
    <app-palabra-container *ngFor="let palabra of palabras; let i = index" [palabra]="palabra" [id]="i"
      (notificar)="eliminarPalabra(i)">
    </app-palabra-container>
  </div>
</div>