<div class="container">
    <div *ngIf="juego" class="info-container">
        <div>
            <h2>{{juego.nombre}}</h2>
            <p><span>Usuario creador: </span>{{juego.usuarioCreador}}</p>
            <p><span>Tipo de juego: </span>{{juego.tipo}}</p>
        </div>
        <button class="button" (click)="toJugar()">
            J U G A R
            <div id="clip">
                <div id="leftTop" class="corner"></div>
                <div id="rightBottom" class="corner"></div>
                <div id="rightTop" class="corner"></div>
                <div id="leftBottom" class="corner"></div>
            </div>
            <span id="rightArrow" class="arrow"></span>
            <span id="leftArrow" class="arrow"></span>
        </button>

    </div>
    <div class="table-container">
        <h2>Ranking</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabla">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Usuario jugador </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioJugador}} </td>
            </ng-container>


            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Punteo </th>
                <td mat-cell *matCellDef="let element"> {{element.punteo}} </td>
            </ng-container>

            <ng-container matColumnDef="tiempo">
                <th mat-header-cell *matHeaderCellDef> Tiempo </th>
                <td mat-cell *matCellDef="let element"> {{element.tiempo}} </td>
            </ng-container>


            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>
    <div class="coments-container">
        <h2>Comentarios</h2>
        <form [formGroup]="formComentario" (submit)="nuevoComentario()">

            <div class="input-container">
                <input formControlName="comentario" placeholder="Agrega un comentario" type="email">
                <button class="invite-btn" [disabled]="formComentario.invalid">
                    Invite
                </button>

            </div>
        </form>

        <app-comentario-card *ngFor="let comentario of comentarios" [comentario]="comentario"></app-comentario-card>
    </div>
</div>